.about {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
}

.aboutPics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin-left: 25%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10%;
  margin-bottom: 5%;
  padding: 2%;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.pic {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10%;
}