.aboutList {
    display: grid;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10%;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
.aboutPics {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10%;
    padding: 20px;
    object-fit: contain;
    margin-Bottom: 30px;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

.pic {
    display: flex;
    align-self: center;   
    align-items: center;
    padding: 10%;
    
    
  }