.home {
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro {

    font-display: block;
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;

}




#root > div.portfolio-app > div:nth-child(1) > div > ul {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}

div.strobe {
    display: table;
    min-width: 70%;
    max-height: 100%;
    margin:auto;
    text-align: center;
    align-self: center;
    align-items: center;
    object-fit: contain;
    background-color: rgb(72, 13, 105);
    animation-name: changing;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 20%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

div.strobe1 {
    display: table;
    min-width: 70%;
    max-height: 100%;
    margin:auto;
    text-align: center;
    align-self: center;
    align-items: center;
    object-fit: contain;
    animation-name: changing;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 20%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

div.strobe2 {
    display: table;
    min-width: 70%;
    max-height: 100%;
    margin:auto;
    text-align: center;
    align-self: center;
    align-items: center;
    object-fit: contain;
    animation-name: changing;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 20%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@keyframes changing {
    0% {
        background-color: #006466;
    }
    10% {
        background-color: #065A60
    }
    20% {
        background-color: #0B525B;
    }
    30% {
        background-color:#144552;
    }
    40% {
        background-color: #1B3A4B;
    }
    50% {
        background-color:#212F45;
    }
    60% {
        background-color: #272640;
    }
    70% {
        background-color: #312244;
    }
    80% {
        background-color: #3E1F47;
    }
    90% {
        background-color: #4D194D;
    }
    100% {
        background-color: #464573;
    }
}

p.strobe {
    font-display: block;
    text-align: center;

    margin-top: 5%;
}

div.quote>p>span {
    font-style: italic;
}

div.backtotop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #FCEFB4;
    margin-top: 5%;
    padding:2%;
}