.header{
    max-width: 1000px;
    height:auto;
    background: #000000;
    margin: 0 auto;
    padding: 0;
}

.home {
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wave {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 1% 0;
margin: 0 auto;
width: 100%;
max-width: 1000px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .wave {
        padding: 2% 0;
        margin: 0 auto;
    }
    
    .intro {
        min-height: 300px;
        padding: 1.5rem 0;
    }
    
    p.intro1,
    p.intro2,
    p.intro3 {
        font-size: 1.5em;
    }
    
    p.intro1 {
        margin-left: 5%;
    }
    
    p.intro3 {
        margin-right: 5%;
    }
}

@media (max-width: 480px) {
    .wave {
        padding: 3% 0;
        margin: 0 auto;
    }
    
    .intro {
        min-height: 250px;
        padding: 1rem 0;
    }
    
    p.intro1,
    p.intro2,
    p.intro3 {
        font-size: 1.2em;
        margin: 0.5rem 0;
    }
    
    p.intro1 {
        margin-left: 2%;
    }
    
    p.intro3 {
        margin-right: 2%;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    padding: 2rem 0;
    min-height: 400px;
}

p.intro1,
p.intro2,
p.intro3 {
    opacity: 0;
    font-size: 2.5rem;
    position: relative;
}

p.intro1 {
    align-self: flex-start;
    margin-left: 10%;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p.intro2 {
    align-self: center;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p.intro3 {
    align-self: flex-end;
    margin-right: 10%;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Update the keyframes to animate opacity */
@keyframes leftToRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul.b>li {
    margin:2% auto;
    font-size: 50px;
    list-style-type: none;
    text-decoration: none;
    color: #4d194d;
    text-shadow: 2px 2px #FF17E4;
}

div.links > ul > li:nth-child(1) > a {
    font-family: "Audiowide", sans-serif;
    color: #4d194d;
    text-shadow: 2px 2px #FF17E4;
  
}

div.links > ul > li:nth-child(1) > a:hover {
    color: #FF17E4;
    text-shadow: 2px 2px white;
}

div.links > ul > li:nth-child(2) > a {
    font-family: "Audiowide", sans-serif;
    color: #4d194d;
    text-shadow: 2px 2px #FF17E4;
    
}

div.links > ul > li:nth-child(2) > a:hover {
    color: #FF17E4;
    text-shadow: 2px 2px white;
}

div.links > ul > li:nth-child(3) > a {
    font-family: "Audiowide", sans-serif;
    color: #4d194d;
    text-shadow: 2px 2px #FF17E4;
   
}

div.links > ul > li:nth-child(3) > a:hover {
    color: #FF17E4;
    text-shadow: 2px 2px white;
}


.quote {
    margin-left: 10%;
    margin-right: 10%;
}


.quote>p {
    margin: 5% 10% 2% 10%;
    line-height: 1.5;
}

.strobe {
   position:relative;
   justify-items: center;
   margin:2% auto 5% auto; 

}

.floating-bad-button {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
}

