
.portfolio {
    display:flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    margin: 5% auto 5% auto;
}

.portfolio>h1 {
    color:#FF17E4;
    margin: 5% auto 5% auto;
}

.portfolio>p {
    margin: 0% auto 5% auto;
}

.bottom {
    display:flex;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 15% auto 5% auto;
}