.portfolio {
    display: block;
    text-align: center;
    align-items: center;
    margin: 2% auto 2% auto;
}

.portfolio h1 {
    margin: 2% auto 2% auto;
}

.portfolio p {
    margin: 10% auto 10% auto;
  
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto 10% auto;
}