.card2 {
    background: linear-gradient(to top, #00a2ff, #eeb3ae);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;

    width: 250px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: start;

}

.card2 .card-image2 {
    max-width: 60%;
    object-fit: contain;
    height: auto;

    border-radius: 10%;
    margin-bottom: 10px;
}

.card-title2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #c8d5b9;
}

.card-text3 {
    font-family: Arial, sans-serif;
    font-size: medium;
    color: #eeb3ae;
}

.portfolioCards {
    display: flex;
    flex-wrap: row;
    align-content: center;
    justify-content: center;
    margin: 10px;
    object-fit: contain;


}



.card2:link{ 
    color: #fdfa36;
    text-decoration: none; }

a:visited{ color: #fdc500; }

a:hover{ color: #ff8000; }

a:active{ color: #fe6a86; }
