body {
  display: block;
}


/* .resumepage{
  display:flex;
  justify-content: center;
  align-items: center;

} */

#root>div.portfolio-app>div:nth-child(1)>div>h1 {
  margin: 3%;

}

.codingSkills {
  position: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-self: center;
  justify-items: center;
  max-width: fit-content;
  background-color: #4D194D;
  border-radius: 10%;
  padding: 5%;
  object-fit: fill;
  margin-Bottom: 30px;
  backdrop-filter: blur(80px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.div.css-1nktuad {
  display: relative;
  width: 50%;
}

.res {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.css-1nktuad:hover .res {
  opacity: 0.3;
}

.css-1nktuad:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  font-size: 35px;
  padding: 5px;
  border-radius: 20px;
}

.resume {
  text-align: center;
}

.objective {
  padding: 1%;
  text-align: center;

  line-height: 1.5;
  justify-items: center;
}

.objective>p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  line-height: 1.5;

}

div.WorkHighlights {
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  line-height: 1.5;
}

.WorkHighlights>h1 {
  font-family: 'Courier New', Courier, monospace;
}

.WorkHighlights>h2 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2%;
}

.WorkHighlights>h3 {
  font-family: sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.WorkHighlights>p {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

div.WorkHighlights>li {
  font-family: sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  text-align: left;

}

div.education>p {
  margin-left: 10%;
  margin-right: 10%;
}

.education>h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

div.education>p {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  ;
}

.certifications {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  line-height: 1.6;
}

div.certifications>ul {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15%;
  font-family: monospace;
}

.certifications>h2 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}


.workHistory>h1 {
  margin: 2%;
}

.workHistory>h2 {
  margin: 2%;
}

div.workHistory>p {
  text-align: center;
  margin: 10px;
  margin-right: 10%;
  margin-left: 10%;
}