.Resume_size {
  width:100%;
  height:100%;
  background-color: #000000;
}

/* .resumepage{
  display:flex;
  justify-content: center;
  align-items: center;

} */

/* #root>div.portfolio-app>div:nth-child(1)>div>h1 {
  margin: 3%;

} */

.portLink {
  text-align: center;
}

div.portLink>h3>a {

  color:#06E8C6;
  padding: 1%;
  line-height: 1.5;
}

div.portLink>h3>a:hover {
  color:#FF17E4;
}

.codingSkills {
  position: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-self: center;
  justify-items: center;
  max-width: fit-content;
  background-color: #8f18a9;
  border-radius: 10%;
  padding: 5%;
  object-fit: fill;
  margin-Bottom: 30px;
  margin-top: 5%;
  backdrop-filter: blur(80px);
  box-shadow: 0 4px 8px 0 #ff17e4, 0 6px 20px 0 #ff17e4
}


.div.css-1nktuad {
  display: relative;
  width: 50%;
}

.res {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.css-1nktuad:hover .res {
  opacity: 0.3;
}

.css-1nktuad:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  font-size: 35px;
  padding: 5px;
  border-radius: 20px;
}

.resume {
  text-align: center;
}

h2.resume {
  color:#FF17E4;
  margin: 5% auto 5% auto;
}

.resume>h2{
  color:#FF17E4;
}


#root > div > div:nth-child(1) > div > div:nth-child(2) > div.resume > div.WorkHighlights > h3:nth-child(1) > a {
  color: #4d194d;
  text-shadow: 2px 2px #FF17E4;
}

#root > div > div:nth-child(1) > div > div:nth-child(2) > div.resume > div.WorkHighlights > h3:nth-child(1) > a:hover {
  color: hsl(0, 0%, 100%);
  text-shadow: 2px 2px #FF17E4;
}

.resume2 {
  display:grid;
  grid-template-columns: auto auto;
  margin:0 auto 0 auto;
}
.teamwork {
  grid-column:1;
  text-align: center;
  padding:0;
}
.teamwork>h2 {
  color:#FF17E4;
  margin:0;
  padding:0;
  }

.teamwork>li {
  list-style-type: none;
}

.skills {
  margin:0;
  padding:0;
  text-align: center;
}
.skills>h2 {
 color: #FF17E4;
 padding:0;
 margin:0;

}
 
.skills>ul {
  list-style-type: none;
  padding:0;
}

.education{
  grid-column:1;
  margin: 0% auto;
  padding:0;
  text-align: center;
}

.education>h2 {
  color:#FF17E4;
  padding:0;
  margin:0;
}

.education>li {
   list-style-type:none;
   margin:0;
   padding:0;
  }

.certifications{
  grid-column: 2;
  margin:0% auto;
  padding:0;
  text-align: center;
}

.certifications>h2 {
   color:#ff17e4;
   padding:0;
   margin:0;
}

.certifications>li {
  list-style-type:none;
  margin:0;
  padding:0;
}

.Work>h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size:3.5rem;
  font-weight: 900;
  text-align: center;
  color:#ff17e4;
 
}

.workHistory>h3 {
  color:#FF17E4;
  justify-content: center;
  text-align: center;
}

.workHistory2>h3 {
  color:#FF17E4;
  justify-content: center;
  text-align: center;
}

.workHistory3>h3 {
  color:#FF17E4;
  margin:0% 5%;
  justify-content: center;
  text-align: center;
}

.workHistory3>p {
  color:#06e8c6;
  margin:0% 10%;
  justify-content: center;
  text-align: center;
}

.workHistory2>p {
  color:#06e8c6;
  margin:0% 10%;
  justify-content: center;
  text-align: center;
}

.workHistory>p {
  color:#06e8c6;
  margin:0% 10%;
  justify-content: center;
  text-align: center;
}