[class^="number-slide"] {
   background-color: #42047e;
   align-items: center;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   height: 400px;
   width: 400px;

}

[class*=" number-slide"] {
   background-color: #42047e;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   height: 400px;

}

.navigation-wrapper {
   background-color: #000000;
   width: 400px;
   height: 400px;
   border: solid 6px #FF17E4;
   border-radius: 8px;
}

div.keen-slider {
   height: 400px;
   width: 400px;
}

.number-slide7>img {
   justify-content: center;
}

.number-slide8 {
   justify-content: center;
}

.number-slide9>img {
   justify-content: center;
}

.number-slide10>img {
   justify-content: center;
}

.number-slide11>img {
   justify-content: center;
}