[class^="number-slide"] {
   background-color: #42047e;
   align-items: center;
   justify-content: center;
   align-items: center;
   font-weight: 500;

}

[class*=" number-slide"] {
   background-color: #42047e;
   align-items: center;
   justify-content: center;
   align-items: center;
   font-weight: 500;

}

.navigation-wrapper {
   background-color: #000000;
}


div.keen-slider {
     
   justify-items: center;


}

.number-slide7>img {
   object-fit: contain;
}

.number-slide8>img {
   object-fit:contain;
}

.number-slide9>img {
 object-fit:contain;
}

.number-slide10>img {
  object-fit:contain;
}

.number-slide11>img {
  object-fit:contain;
}

.number-slide12>img {
 object-fit:contain;
}