@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	display: flex;
	background: #000;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}

.content {
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	
}

.content h2 {
	font-size: 7em;
	position: absolute;
	transform: translate(15%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1.5px #ff17e4;
	font-weight: 100;
	z-index: 1;
}

.content h2:nth-child(2) {
	color: #0a32c1;
	animation: animate 3.5s ease-in-out infinite;
}

@keyframes animate {

	0%,
	100% {
		clip-path: polygon(
				0% 30%,
				16% 44%,
				33% 42%,
				54% 48%,
				70% 55%,
				84% 65%,
				100% 70%,
				100% 100%,
				0% 100%);
	}

	50% {
		clip-path: polygon(0% 65%,
				30% 80%,
				40% 70%,
				51% 55%,
				67% 40%,
				84% 45%,
				100% 79%,
				100% 100%,
				0% 100%);
	}
}