a.active {
    
    border: solid 2px;
    border-color: #FF17E4;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center;
    /* border-style: outset;
    border-color: #FF17E4; */
    position:sticky;
    z-index: 2;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
button.redButton {
    background-color: red;
    color: white;
}

/* nav ul li {
    list-style: inline;
    list-style-type: none;
    font-size: 3em;
   
} */

nav ul li {
    position: relative;
    margin-right: 20px;
    z-index: 2;
}

nav ul li a{
    display:inline-flex;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #06E8C6;
    font-family: "Audiowide", sans-serif;
    z-index: 2;
}

nav ul li.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 2;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    border: solid 2px;
    border-color: #FF17E4;
    border-radius: 10px; 
    background-color:black;
    z-index: 2;
    
}

.dropdown-menu li {
    margin: 5px 0;
    z-index: 2;
}

.dropdown-menu li a {
    padding: 10px;
    text-decoration: none;
    color: #06E8C6;
    display: block;
    z-index: 2;
}

.dropdown-menu li a:hover {
    background-color: #172554;
    z-index: 2;
}

nav ul li a:not(.active):hover {
    background-color: #172554;
}

.redbutton {
    background-color: red;
    color: black;
    border: 3px solid white;
    border-radius: 10px;
}
