.active {
    border-color: #FF17E4;
    border: solid 2px;
}

nav {
    display: flex;
    justify-content: center;
    border-style: outset;
    border-color: #FF17E4;
    position:sticky;
}
#root > nav > ul {
    display: flex;

}

nav ul li {
    list-style: inline;
    list-style-type: none;
    font-size: 3em;
   
}

nav ul li a{
    display:inline-flex;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #06E8C6;
}

nav ul li a:not(.active):hover {
    background-color: #172554;
}
