* {
  min-width: auto;
  min-height:auto;
  box-sizing: border-box;

}

:root {
  background: url("./assets/background.png");
  background-repeat: none;
  background-size: cover;
  min-height: auto;
  min-width: auto;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.content {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
}

.headerbox {
  display: flex;
  justify-content: top;
  align-items: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
  flex-grow: 1;
  min-width: 100%;
  border: 15px solid black;
  padding: 2%
}

.portfolio-app {
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: auto;
}


li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin: 10px;
}

#contactInfo {
  display: inline;
  margin: 10px;

}

a:link {
  color: #fdfa36;
  text-decoration: none;
}


a:visited {
  color: #fdc500;
}

a:hover {
  color: #ff8000;
}

a:active {
  color: #fe6a86;
}

p {
  font-family: Helvetica, sans-serif;
  font-display: block;
  font-size: 25px;
  color: #fffdf7;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 7rem;
  letter-spacing: 0.4px;
  word-spacing: -0.6px;
  color: #FCEFB4;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

h2 {
  font-family: Arial, sans-serif;
  font-display: block;
  font-size: 65px;
  color: #000000;
}

h3 {
  font-family: Arial, sans-serif;
  font-display: block;
  font-size: 50px;
  color: #000000;
}

h4 {
  font-family: Arial, sans-serif;
  font-display: block;
  font-size: 40px;
  color: #000000;
}

h1.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

contactForm {

  display: flex;
  justify-content: space-between;
  min-width: 100vh;
  min-height: 100vh;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0;
}

img.github {
  border-radius: 50px;

}

img.linkedinIcon {
  border-radius: 50px;
}