#root { 
  width:100vw;
  height:100vh;
  background: #000000;
  margin:0;
  box-sizing: border-box;
}



#root > div > div.outlet {
  background: #000000;
  margin:0;
}



.portfolio-app {
  max-width:100%;
  height:auto;
  display: grid;
  justify-items: center;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  background: #000000;
}

.Navigation {
  grid-area: header;
  margin-top:1%;
  background: #000000;

}

.outlet {
  grid-area: main;
}

.footer{
  grid-area: footer;
  text-align: center;
  background-color: #000000;
}

li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: #06E8C6;
  text-decoration: none;

}

#contactInfo {
  display: inline;
  margin: 10px;

}

a:link {
  text-decoration: none;
}

p {
  font-family: "Audiowide", sans-serif;
  font-size: 25px;
  color: #06E8C6;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4px;
  word-spacing: -0.6px;
  color: #06E8C6;
 
}

h2 {
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
  color: #06E8C6;
}

h3 {
  font-family: "Audiowide", sans-serif;
  font-size: 1.5rem;
  color: #06E8C6;
}



.Popover>p {
  color: #0080ff;
  font-size: 1.5rem;
}


contactForm {

  display: flex;
  justify-content: space-between;
  margin:10%;
  align-items: center;
}

#root > div.portfolio-app > div:nth-child(1) > contactform > div > form > div:nth-child(4) > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 2em;
  min-width: 10%;
  min-height: 10%;
  
}

.contact>h2 {
  margin-top:3%;

}

.contact>h3 {
  margin-top: 3%;
}

img.github {
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;

}

img.linkedinIcon {
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.scroll {
  margin:5%;
}

#root > div > div.footer > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Audiowide", sans-serif;
  color: #4d194d;
  text-shadow: 2px 2px #FF17E4;
  background-color: #06E8C6;
  min-width: 35%;
  min-height: auto;
  font-size: 1.5em;
  text-align: center;
  border-radius: 15px;

}

#\:r1\:-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#\:r5\:-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#\:r3\:-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}



.information {
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.contact {
  margin-left: 10%;
  margin-right:10%;
}

.floating-bad-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
   
    z-index: 2000;
}


