:root {
  box-sizing: border-box;
  background-color: black;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  padding: 0;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.content {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FCEFB4
}

.headerbox {
  display: flex;
  justify-content: top;
  align-items: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
  flex-grow: 1;
  min-width: 100%;
  border: 15px solid white;
  padding: 2%
}

.portfolio-app {
  display: block;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: auto;
}


li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: #FCEFB4;
}

#contactInfo {
  display: inline;
  margin: 10px;

}

a:link {
  color: white;
  text-decoration: none;
}


a:visited {
  color: white;
}

a:hover {
  color: #f88888;
}

a:active {
  color: #332d92;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #fffdf7;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4px;
  word-spacing: -0.6px;
  color: #FCEFB4;
 
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  color: #FCEFB4;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #FCEFB4;
}

h1.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

contactForm {

  display: flex;
  justify-content: space-between;
  min-width: 100vh;
  min-height: 100vh;
  align-items: center;
  color: #FCEFB4;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0;
}

img.github {
  border-radius: 50px;

}

img.linkedinIcon {
  border-radius: 50px;
}

#root>div.portfolio-app>button {
  display: block;
  margin-left: 39%;
  min-width: 10%;
  min-height: 10%;
  font-size: 2em;
  justify-content: center;
  align-items: center;;
  border-radius: 10%;

}

#\:r1\:-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FCEFB4;
}

#\:r5\:-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FCEFB4;
}

#\:r3\:-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FCEFB4;
}

#root > div.portfolio-app > div:nth-child(1) > contactform > div > form > div:nth-child(1) > div > div {
  color:aliceblue
}

#root > div.portfolio-app > div:nth-child(1) > contactform > div > form > div:nth-child(1) > div {
  color:aliceblue
}

.information {
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: #FCEFB4;
}